<body style="background-color:"blue">
<center><h1><fontcolor="red">Welcome to Hangman!</font></h1></center>
<h3><font color="red">Please enter your names</h3>
<form action="player_names" method="post">
	<h4><font color="red"><center>player1: <input type="text" name="player1"></center></h4>
	<h4><font color="red"><center>player2: <input type="text" name="player2"></center></h4>
	<center><input type="submit" name="enter"></center>
	</form><center>
	</body>